@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  color: #333;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.u_container {
  margin: 0 auto;
  max-width: 72.875rem;
}

.header {
  background-color: #fff;
  height: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.navbar-logo {
  width: 140px;
  margin-right: 10px;
}

.logo-image {
  width: 100%;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-list li {
  display: inline-block;
  padding: 20px;
  padding-bottom: 25px;
  font-size: 0.9375rem;
}

.navbar-list li.navbar-item {
  padding-right: 10px;
}

.navbar-list ul li.navbar-item:hover a {
  border-bottom: 1px solid #000;
}

.signin {
  padding-right: 0;
}

.signup {
  border: 1px solid #5dcc93;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.signup:hover {
  background-color: #5dcc93;
  color: #fff;
}

.hero-header {
  flex: 1.5;
  padding-top: 100px;
}

.hero-header h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero {
  display: flex;
  padding-bottom: 50px;
}

.hero-thumbnail {
  flex: 1.2;
}

.hero-image {
  width: 100%;
}

.cta-button {
  margin-top: 30px;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid #5dcc93;
  transition: 0.3s ease-out;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.cta-button:hover {
  cursor: pointer;
  color: #fff;
}

.cta-button::before {
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #5dcc93;
}

.cta-button:hover::before {
  transition: all 0.5s ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.service-content {
  background-color: #c1f3d9;
}

.service-wrapper {
  padding: 50px 0px;
  text-align: center;
}

.service-header h2,
.about-desc h2,
.contact-title h2 {
  font-size: 32px;
}

.service-header h2 {
  margin-bottom: 50px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.service {
  flex-basis: 33%;
  padding: 40px;
  position: relative;
}

.service span {
  position: absolute;
  top: 12px;
  color: #f44336;
  left: 35%;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  line-height: 30px;
  font-weight: bold;
}

.service-image {
  margin: 0 auto;
  width: 25%;
}

.service-image img {
  width: 100%;
}

.service-desc h3 {
  font-size: 1.25rem;
  padding: 10px;
}
.service-desc p {
  font-size: 0.875rem;
}

.about-content {
  background-color: #fff;
}

.about-wrapper {
  display: flex;
  padding: 50px 0;
}

.about-image {
  flex: 1;
  /* width: 300px; */
}

.about-image img {
  width: 100%;
}

.about-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-desc h2 {
  margin-bottom: 10px;
}

.about-sosmed span {
  color: #333;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #5dcc93;
  border-radius: 5px;
  color: #333;
  transition: all 0.3s;
}

.about-sosmed a:hover span {
  background-color: #5dcc93;
  color: #fff;
}

.about-sosmed a:not(:last-child) {
  margin-right: 10px;
}

.contact-content {
  background-color: #c1f3d9;
}

.contact-wrapper {
  display: flex;
}

.contact-title {
  padding-top: 40px;
  text-align: center;
}

.contact-title h2 {
  padding-bottom: 8px;
}

.contact-title p span {
  margin-right: 10px;
  color: #f44336;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  display: block;
  margin: 0 auto 20px auto;
  /* margin-bottom: 20px; */
  /* margin: 0 auto; */
  width: 80%;
  border: none;
  border-radius: 5px;
}

.contact-form input,
.contact-form textarea {
  padding-left: 20px;
}

.contact-form input {
  height: 50px;
}

.contact-form textarea {
  height: 100px;
  padding-top: 10px;
}

.contact-form button {
  /* width: 80%; */
  cursor: pointer;
  height: 50px;
  font-weight: bold;
  color: #5dcc93;
  border: 1px solid #5dcc93;
  background-color: #fff;
  transition: all 0.3s;
}

.contact-form button:hover {
  background-color: #5dcc93;
  color: #fff;
}

.contact-form {
  flex: 1;
  padding: 60px 80px 80px 80px;
}

.contact-image {
  flex: 1;
}
